name: testerx
description: Quiz application for Windows and Android.
publish_to: 'none'
version: 1.3.1
environment:
  sdk: '>=3.0.0-233.0.dev <4.0.0'
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  file_picker: ^5.2.11
  intl: ^0.18.1
  json_annotation: ^4.8.1
  flutter_widget_from_html_core: ^0.10.0
  card_swiper: ^2.0.4
  sheet: ^0.0.4+1
  hive_flutter: ^1.1.0
  responsive_framework: ^1.0.0
  keymap: ^0.0.91

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  flutter_launcher_icons: ^0.13.1
  build_runner: ^2.3.3
  json_serializable: ^6.6.2
  hive_generator: ^2.0.0

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/icon/app_logo.png"
  min_sdk_android: 21 # android min sdk min:16, default 21
  windows:
    generate: true
    icon_size: 256 # min:48, max:256, default: 48

flutter:
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/icon/max.png

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
